/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_ae {
            bindings = <&trans>;
            key-positions = <10 17>;
            layers = <0>;
        };

        combo_ue {
            bindings = <&trans>;
            key-positions = <17 7>;
        };

        new_combo {
            bindings = <&trans>;
            key-positions = <17 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        base_layer {
            bindings = <
&kp Q  &kp W  &kp F           &kp P          &kp B        &kp J      &kp L      &kp U    &kp Y    &kp SQT
&kp A  &kp R  &kp S           &kp T          &kp G        &kp M      &kp N      &kp E    &kp I      &kp O
&kp Z  &kp X  &kp C           &kp D          &kp V        &kp K      &kp H  &kp COMMA  &kp DOT  &kp SLASH
                     &kp LEFT_SHIFT  &kp BACKSPACE    &kp SPACE  &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
